@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.labelcontainer{
	position:fixed;
	/*bottom:40px;*/
	top:0;
	margin-top:80px;
	right:100px;
	display:table;
	visibility: hidden;
}

.labeltext{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.labelarrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	/*position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;*/
	width:60px;
	right:40px;
	height:60px;
	margin-top:80px;
	position:absolute;
	top:0;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.labelcontainer {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.labelcontainer{
  visibility: visible;
  opacity: 1;
}

/********* Listas **********/

.container {
  list-style:none;
  margin: 0;
  padding: 0;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.item {
  background: #003366;
  padding: 5px;
  width: 100%;
  height: 100%;
  margin: 10px;
  
  line-height: 100%;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/*inline-block*/
.inline-b {
  max-width:1200px;
  margin:0 auto;
}
.inline-b-item {
  display: inline-block;
}

/************** Calendario **************/

* {box-sizing: border-box;}
ul {list-style-type: none;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
.days > li:hover
{
	cursor:pointer;
	background:#C0C0C0;	
}

/************ Propios ************/

.labelcontainerr
{
	position:fixed;
	/*bottom:40px;*/
	top:0;
	margin-top:80px;
	left:100px;
	display:table;
	visibility: hidden;
}

.float2
{
	/*position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;*/
	width:60px;
	left:40px;
	height:60px;
	margin-top:80px;
	position:absolute;
	top:0;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
}

a.float2 + div.labelcontainerr {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float2:hover + div.labelcontainerr{
  visibility: visible;
  opacity: 1;
}

.my-float2{
	font-size:24px;
	margin-top:18px;
}


/*************************************** Raiting **************************/

.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #189800;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}
 
.acidjs-rating-disabled
{
    opacity: .50;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

/*************** Modal *******************/

/* The Modal (background) */
.modal-confirmation {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;*/ /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #C0C0C0; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content-top {
    position: absolute;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* The Close Button */
.close-confirmation {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-confirmation:hover,
.close-confirmation:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header-confirmation {
    padding: 2px 16px;
    background-color: #6666FF;
    color: white;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-footer-confirmation {
    padding: 2px 16px;
    background-color: #6666FF;
    color: white;
}

/** Cards **/

.card-info, .card__meta a {
    display: inline-flex;
    vertical-align: middle;
    line-height: 2;
    font-size: 1rem;
}
.card__meta i.small {
    font-size: 1.5rem;
}
.card .card-content .card-title {
    line-height: 34px;
}

/** Floating cards personalizados **/

.labelcontainerF{
	position:fixed;
	/*bottom:40px;*/
	top:0;
	margin-top:80px;
	right:100px;
	display:table;
	visibility: hidden;
}

.labeltextF{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.labelarrowF{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.floatF{
	/*position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;*/	
	margin-top:-2%;
	width:60px;
	right:40px;
	height:60px;	
	position:absolute;	
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
}

.my-floatF{
	font-size:24px;
	margin-top:18px;
}

a.floatF + div.labelcontainerF {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.floatF:hover + div.labelcontainerF{
  visibility: visible;
  opacity: 1;
}

