<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Mi perfil</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">   
	
</head>
<body>
<div class="col-lg-6 col-sm-6" style="width:100%">
    <div class="card hovercard">
        <div class="card-background">
            <!--img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/"-->
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="assets/imagenes/mujer.jpg">
        </div>
        <div class="card-info"> <span class="card-title">Probando</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Informacion general</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <div class="hidden-xs">Historial</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-xbt" aria-hidden="true"></span>
                <div class="hidden-xs">Dinero</div>
            </button>
        </div>
		<div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-xbt" aria-hidden="true"></span>
                <div class="hidden-xs">Calendario</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">          
			<ul class="container inline-b">
				<li class="item inline-b-item">Camilo Barrera</li>
				<li class="item inline-b-item">28 años</li>
				<li class="item inline-b-item">6 años experiencia</li>
				<li class="item inline-b-item">Tactica futbol</li>
				<li class="item inline-b-item">Personalizado</li>
			</ul>
        </div>
        <div class="tab-pane fade in" id="tab2">
		
          <ul class="container inline-b">
			<li class="item inline-b-item">Maria - 11 Mayo - 4 horas</li>
			<li class="item inline-b-item">Juan - 11 Mayo - 1 hora</li>
			<li class="item inline-b-item">Alejo - 11 Mayo - 1 hora</li>
			<li class="item inline-b-item">Jimmy - 11 Mayo - 1 hora</li>
			<li class="item inline-b-item">Oscar - 11 Mayo - 120 horas</li>
		  </ul>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <ul class="container inline-b">
			<li class="item inline-b-item">1</li>
			<li class="item inline-b-item">2</li>
			<li class="item inline-b-item">3</li>
			<li class="item inline-b-item">4</li>
			<li class="item inline-b-item">5</li>
		  </ul>          
        </div>
        <div class="tab-pane fade" id="tab4">         
			<h1>Calendario</h1>

			<div class="month">      
				<ul>
					<li class="prev">&#10094;</li>
					<li class="next">&#10095;</li>
					<li>
						Mayo<br>
						<span style="font-size:18px">2017</span>
					</li>
				</ul>
			</div>

			<ul class="weekdays">
				<li>Lun</li>
				<li>Mar</li>
				<li>Mie</li>
				<li>Jue</li>
				<li>Vie</li>
				<li>Sab</li>
				<li>Dom</li>
			</ul>

			<ul class="days">  
				<li class="myBtn">1</li>
				<li class="myBtn">2</li>
				<li class="myBtn">3</li>
				<li class="myBtn">4</li>
				<li class="myBtn">5</li>
				<li class="myBtn">6</li>
				<li class="myBtn">7</li>
				<li class="myBtn">8</li>
				<li class="myBtn">9</li>
				<li class="myBtn"><span class="active">10</span></li>
				<li class="myBtn">11</li>
				<li class="myBtn">12</li>
				<li class="myBtn">13</li>
				<li class="myBtn">14</li>
				<li class="myBtn">15</li>
				<li class="myBtn">16</li>
				<li class="myBtn">17</li>
				<li class="myBtn">18</li>
				<li class="myBtn">19</li>
				<li class="myBtn">20</li>
				<li class="myBtn">21</li>
				<li class="myBtn">22</li>
				<li class="myBtn">23</li>
				<li class="myBtn">24</li>
				<li class="myBtn">25</li>
				<li class="myBtn">26</li>
				<li class="myBtn">27</li>
				<li class="myBtn">28</li>
				<li class="myBtn">29</li>
				<li class="myBtn">30</li>
				<li class="myBtn">31</li>
			</ul>
        </div>		
      </div>
    </div>
    
    </div>
	
	<!-- Floating button -->
<a (click)="agendar()" class="float">
<i class="fa fa-th-list my-float"></i>
</a>
<div class="label-container">
<div class="label-text">Agendar</div>
<i class="fa fa-th-list label-arrow"></i>
</div>

		<!-- Progress bar -->
	<ng-progress></ng-progress>
	
</body>
</html>
