* {box-sizing: border-box;}
ul {list-style-type: none;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

/************* Floating button **********************/

.label-containerr{
	position:fixed;
	/*bottom:40px;*/
	top:0;
	margin-top:80px;
	right:100px;
	display:table;
	visibility: hidden;
}

.label-containerl{
	position:fixed;
	/*bottom:40px;*/
	top:0;
	margin-top:80px;
	left:100px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	/*position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;*/
	width:60px;
	right:40px;
	height:60px;
	margin-top:80px;
	position:absolute;
	top:0;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
}

.floatl
{
	width: 60px;
    height: 60px;
    margin-top: 107px;
	left:40px;
    position: absolute;
    top: 0;
    background-color: #536DFE;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px #536DFE;
    box-shadow: 2px 2px 3px #536DFE;
    cursor: pointer;
}

.floatsimple
{
	width: 60px;
    height: 60px;    
	right:40px;
	margin-top:-3%;
    position: absolute;    
    background-color: #003366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px #003366;
    box-shadow: 2px 2px 3px #003366;
    cursor: pointer;	
}


.floatr
{
		/*position:fixed;
	width:60px;
	height:60px;
	bottom:40px;*/
	right:40px;
	width:60px;
	/*left:517px;*/
	height:60px;	
	position:absolute;
	margin-top:107px;
	top:0;
	background-color:#536DFE;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #536DFE;
	cursor: pointer;
}



.my-float{
	font-size:24px;
	margin-top:18px;
}
a.floatl+ div.label-containerl {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.floatr + div.label-containerr {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.floatl:hover + div.label-containerl{
  visibility: visible;
  opacity: 1;
}

a.floatr:hover + div.label-containerr{
  visibility: visible;
  opacity: 1;
}

/************** Propios *******************/

.days > li:hover
{
	cursor:pointer;
	background:#C0C0C0;	
}


/************ Modal *************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;*/ /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;*/ /* Sit on top */
    left: 0;
    top: 0;
	right:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* The Modal (background) */
.modal-confirmation {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;*/ /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #C0C0C0; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: absolute;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content-top {
    position: absolute;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button */
.close-confirmation {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-confirmation:hover,
.close-confirmation:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-header-confirmation {
    padding: 2px 16px;
    background-color: #6666FF;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-footer-confirmation {
    padding: 2px 16px;
    background-color: #6666FF;
    color: white;
}

.float{
	/*position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;*/
	width:60px;
	right:40px;
	height:60px;
	margin-top:80px;
	position:absolute;
	top:0;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.labelcontainer {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.labelcontainer{
  visibility: visible;
  opacity: 1;
}

.labelcontainer{
	position:fixed;
	/*bottom:40px;*/
	top:0;
	margin-top:80px;
	right:100px;
	display:table;
	visibility: hidden;
}

.labeltext{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.labelarrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}